@use "../abstracts" as a;
@use "../base" as b;
@use "../utilities" as u;

.about {
  .window-viewer-container {
    // height: 20rem;
    width: 40rem;
  }

  .input-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;

    @mixin band-member-opacity($names) {
      @each $name in $names {
        // Only show on hover IF no one is focused
        &:not(:has(button:focus)):has(button.#{$name}-band-member:hover) img.#{$name}-band-member,
          // Always show on focus
          &:has(button.#{$name}-band-member:focus) img.#{$name}-band-member,
          &:has(button.#{$name}-band-member:focus) .bio.#{$name}-band-member {
          opacity: 1;
        }

        // Hide all non-matching icons on focus
        &:has(button.#{$name}-band-member:focus) img:not(.#{$name}-band-member),
        &:has(button.#{$name}-band-member:focus) .bio:not(.#{$name}-band-member) {
          opacity: 0;
        }
      }
    }

    @include band-member-opacity(("zak", "nick", "jordan", "daniel"));

    .band-member-display {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      padding: 0 1em;
      gap: 1rem;
      height: 20rem;

      .dropdown,
      .icon-container {
        @extend %y2k-border-inverted;
      }

      .dropdown {
        background-color: white;

        .list-label,
        .results-list button {
          padding: 0.25rem 0.5rem;
          font-size: 1em;
        }

        .list-label {
          @extend %y2k-border;
          width: 100%;
          background: lightgrey;
          font-weight: bold;
        }

        .results-list {
          display: flex;
          flex-direction: column;

          button[class$="-band-member"] {
            display: flex;
            align-items: center;
            width: 100%;
            border: dotted white 2px;
            background-color: white;
            margin: 0;

            &:hover,
            &:focus {
              background-color: black;
              color: white;
            }

            svg {
              color: white;
              margin-left: 0.5rem;
            }
          }
        }
      }

      .icon-container {
        position: relative;
        perspective: 1400px;

        @keyframes rotate {
          0% {
            transform: rotateY(-90deg);
          }
          100% {
            transform: rotateY(270deg);
          }
        }

        img[class$="-band-member"] {
          position: absolute;
          width: 75%;
          height: 75%;
          inset: 0;
          margin: auto;
          opacity: 0;

          filter: drop-shadow(2px 15px 10px a.$daydreamer-smoky-black);
          animation: rotate 5s linear infinite;
          transform-style: preserve-3d;
        }
      }
    }

    .bio-content {
      text-align: center;
      margin: 0.5rem auto 2rem;
      max-width: 90%;
      color: a.$daydreamer-smoky-black;
      position: relative;

      .bio {
        margin: 0 auto;
      }

      .bio:not(.day-dreamers) {
        inset: 0;
        position: absolute;
        opacity: 0;
      }

      .bio.day-dreamers {
        opacity: 1;
      }

      h2 {
        font-family: PlanetKosmos;
        letter-spacing: 0.1rem;
        margin-bottom: -0.15rem;
      }

      sub {
        margin-bottom: 1.5rem;
        display: block;
        font-style: italic;
      }
    }

    .action-bar {
      display: flex;
      padding: 1rem;
      gap: 1rem;
      justify-content: center;

      button {
        font-size: 1.2rem;
      }
    }
  }
}
