@use "../abstracts/colors" as c;
@use "../views/merch" as m;
@use "../base";

#cart {
  h1 {
    font-family: m.$merch-font;
    font-size: clamp(2em, 5px + 7.5vw, 4em);
  }

  main,
  aside {
    width: 100vw;

    @media (min-width: m.$section-max-width) {
      width: m.$section-max-width;
      margin: 0px auto;
    }
  }

  #cart-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;

    @media (max-width: 550px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .item-columns {
    

    &.titles {
      p {
        text-transform: uppercase;
      }
    }

    &.rows {

    }
  }
}
