@use "../base" as b;

.email-unsubscribe-form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 60%;
  margin: 0 auto;

  .input-group {
    display: flex;
    flex-direction: column;
    min-width: 250px;

    label {
      margin-bottom: 0.25rem;
    }
  }

  button[type="submit"] {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.8rem 0;
    position: relative;

    &.loading {
      @extend %y2k-border-inverted;
      color: transparent;
      cursor: progress;

      &::before {
        content: ".";
        height: 100%;
        width: 100%;
        color: black;
        position: absolute;
        inset: 0;
        top: -7.5px;
        font-size: 200%;
        animation: y2k-waiting 1.5s linear infinite;
      }
    }
  }
}

@keyframes y2k-waiting {
  0% {
    content: ".";
  }
  30% {
    content: "..";
  }
  60% {
    content: "...";
  }
}
