@use "../abstracts" as a;
@use "../utilities/functions" as fn;
@use "../base/" as b;

// ? ? ? ? ?
// ? HOME ?
// ? ? ? ?

#gigs {
  transition: b.$default-transition-property;
  $mobile-width: 650px;

  nav {
    margin: 0px auto;
    max-width: b.$default-section-max-width;

    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      a.img-parent img {
        min-width: 140px;
      }

      li {
        width: calc(0.5em + 5vw);
        height: fit-content;
        display: flex;
        justify-content: center;

        @media (max-width: $mobile-width) {
          & {
            display: none;
          }
        }
      }
    }
  }

  #cards {
    max-width: b.$default-section-max-width;
    padding: 3rem 6rem;
    margin: 0px auto;

    @media (max-width: $mobile-width) {
      padding: 1.5rem 3rem;
    }
  }

  .gig-card {
    display: flex;
    flex-direction: row;

    padding: 4rem 0px;
    gap: 4rem;

    $border-shorthand: 0.75px solid rgb(170, 170, 170);

    border-top: $border-shorthand;
    border-bottom: $border-shorthand;

    * > div {
      display: flex;
      align-items: center;

      @media (max-width: $mobile-width) {
justify-content: center;
        
      }

      svg {
        height: min-content;
        margin-right: 1rem;
      }
    }

    .gig-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1rem;

      h2 {
        font-family: Goodgirl;
        font-weight: bold;
        font-size: 3em;
        text-shadow: -5px 2.5px 35px adjust-hue(a.$daydreamer-blue, 5deg),
          20px 30px 65px adjust-hue(a.$daydreamer-blue, 10deg),
          20px -20px 65px adjust-hue(a.$daydreamer-orange, -5deg),
          -20px -10px 35px adjust-hue(a.$daydreamer-orange, -10deg);
      }

      h3 {
        font-size: 1.5em;
        font-weight: bold;
      }

      @media (max-width: $mobile-width) {
        h2,
        h3 {
          text-align: center;
        }


      }
    }

    .poster-parent {
      display: flex;
      justify-content: center;
      object-fit: contain;

      img {
        margin: auto;
        max-height: 400px;
        border-radius: 2px;
      }
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
    }
  }
}
