@use "../abstracts" as a;
@use "../utilities/functions" as fn;
@use "../base/" as b;

// ? ? ? ? ?
// ? HOME ?
// ? ? ? ?


#site-backdrop {
  display: flow-root;
  top: 0;
  background: a.$daydreamer-gradient-main;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;

  transition: b.$default-transition-property;

  &.transitioning {
    opacity: 0;
  }
}

#photo-backdrop {
  display: flow-root;
  top: 0;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -2;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  transition: b.$default-transition-property;

  &.transitioning {
    opacity: 0;
  }
}

#home {
  $max-height: 800px;
  opacity: 1;
  display: flex;
  justify-content: space-between;

  #home-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;

    h1 {
      max-width: 500px;
      min-width: fit-content;
      height: fit-content;
      justify-items: center;
    }

    span {
      transition: transform 2.5s a.$custom-ease, scale 5s a.$custom-ease,
        color 5s a.$custom-ease;
      display: inline-block;
      font-size: 1.2em;
      font-family: GoodGirl;
      scale: 1;
      color: white;

      &:hover {
        scale: 1.5;
        cursor: default;

        &:nth-child(odd) {
          color: lighten(a.$daydreamer-blue, 10%);
        }

        &:nth-child(even) {
          color: lighten(a.$daydreamer-orange, 10%);
        }
      }

      @media (max-height: $max-height) {
        font-size: 1em;
      }
    }

    @media (max-width: b.$medium-width) {
      flex-direction: column;
    }

    @media (min-width: b.$medium-width) {
      h1 {
        font-size: clamp(2.5rem, 2.5vw + 2px, 4rem);
        padding: 1em 1.5em;
      }
    }
  }

  #page-routes {
    width: 100%;

    ul {
      display: flex;
      flex-wrap: wrap;

      height: 100%;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;

      & > li {
        width: min-content;
        height: min-content;
        margin: 1rem;
        font-weight: bold;
        font-size: clamp(1.5rem, 5vw + 5px, 2rem);

        @media (max-height: b.$medium-width) {
          margin: 0.5rem auto;
          font-size: 1.2em;
        }
      }

      @media (max-height: b.$medium-width) {
        padding: 0.5rem 0px;
      }

      @media (max-width: b.$medium-width) {
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  transition: b.$default-transition-property;
}
