@use "../abstracts" as a;
@use "../base/" as b;

section.lyric-view {
  width: b.$default-section-width;

  min-height: 0px;
  max-height: fit-content;

  main {
    height: 65vh;

    h2, span, a {
      font-family: Pangolin;
      font-weight: bold;
text-transform: capitalize;
      z-index: 2;
      position: relative;
      margin: 0px;
      color: a.$grey;

      span {
        color: black;
      }

      a {
        cursor: pointer;
        transition: color .5s ease-out;

        &:hover {
          color: a.$daydreamer-orange;
        }
      }

    }

    .lyric-text {
      position: relative;

      p,
      .overlay {
        max-height: calc(60vh - 50px);
      }

      p {
        padding: 6em 0px;
        overflow-y: scroll;
        font-size: 1em;
      }

      .overlay {
        position: absolute;
        background: linear-gradient(
          to bottom,
          white,
          transparent,
          transparent 50%,
          transparent,
          white
        );
        pointer-events: none;
        z-index: 1;
        inset: 0;
        height: 100%;
        width: 100%;
        scale: (1.02);
      }
    }
  }
}
