@use "../base" as b;

.media {
  .window-children {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    padding: 2rem;

    $image-height: 200px;

    .social-image-container {
      @extend %y2k-border-inverted;
      padding: 2rem;

      svg {
        height: $image-height;
        width: $image-height;
      }
    }

    .social-information {
      display: flex;
      flex-direction: column;

      .social-media-select {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: auto;
        gap: 0.5rem;

        label[for="search-results-input"] {
          font-weight: bold;
          width: 30%;
        }

        .search-input-combo {
          width: 70%;

          select {
            @extend %y2k-border-inverted;

            width: 100%;
            padding-right: 3rem;
          }
        }

        .search-input-combo button {
          pointer-events: none;
        }
      }

      .track-length-container {
        .track-line {
        }
      }
    }
  }
}
