@use "../base" as b;

.media {
  position: relative;

  .window-children {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    padding: 2rem;

    $image-height: 150px;

    .social-image-container {
      @extend %y2k-border-inverted;

      display: flex;
      justify-content: center;
      padding: 2rem;
      background-color: white;

      svg {
        height: $image-height;
        width: $image-height;
      }
    }

    .social-information {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .social-media-select {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: auto;
        gap: 0.5rem;

        max-height: min-content;

        label[for="search-results-input"] {
          font-weight: bold;
          width: 30%;
        }

        .search-input-combo {
          width: 70%;

          select {
            @extend %y2k-border-inverted;

            width: 100%;
            font-size: large;
            padding-right: 3rem;
          }
        }

        .search-input-combo button {
          pointer-events: none;
        }
      }

      .track-length-container {
        position: relative;

        .track-line {
          @extend %y2k-border-inverted;

          width: 100%;
          height: 2px;
        }
      }

      .button-row {
        display: flex;
        justify-content: space-between;
        gap: clamp(0rem, 0rem + 2vw, 1.5rem);

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          font-size: 1rem;
          padding: 0.5rem;
          width: 100%;
        }
      }
    }

    @media (max-width: b.$large-width) {
      display: flex;
      flex-direction: column;

      .social-information {
        gap: 2rem;
      }
    }
  }
}

// ? Moved this out of media to allow Y2K window styling to affect the button on click
.track-scrubber {
  @extend %y2k-border;
  $scrubber-height: 35px;

  position: absolute;
  inset: 0;
  margin: 0;
  height: $scrubber-height;
  width: 20px;
  top: calc($scrubber-height / 2 - $scrubber-height);
  background-color: lightgrey;
}
