@use "../abstracts/colors" as c;
@use "../base";

// ? ? ? ? ? ?
// ? MERCH ?
// ? ? ? ?

$distance-between-children: 2rem;
$section-max-width: 1200px;
$merch-font: Urbanist;

#merch {
  height: fit-content;

  h1 {
    font-family: $merch-font;
  }

  .banner {
    background-color: black;
    color: white;
  }

  #merch-params {
    #large-screen,
    #small-screen {
      justify-content: space-between;
      padding: 1em $distance-between-children;
    }

    & > #small-screen {
      display: none;
    }

    & > #large-screen {
      display: flex;
    }

    @media (max-width: 900px) {
      & > #small-screen {
        display: flex;

        & > * {
          margin-left: 0;
        }
      }

      & > #large-screen {
        display: none;
      }
    }
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    margin: auto $distance-between-children;

    & > * {
      margin: auto 1em;
    }

    &.column {
      flex-direction: column;

      & > * {
        margin-bottom: 1em;
      }
    }
  }

  .collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    padding: 2rem 1rem;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .merch-card {
    display: block;
    min-width: 100px;
    max-width: 300px;
    min-height: 300px;
    margin: auto;
    transform: scale(100%);

    transition: box-shadow .33s ease-out, transform .5s ease-out;

    $border-color: rgb(236, 236, 236);
    border: $border-color 1px solid;
    overflow: hidden;
    border-radius: 5px;

    img {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: $border-color 1.5px solid;
    }

    & > *:not(img) {
      padding: 1rem 1rem 0.5rem;

      &:not(:last-child)::after {
        content: '';
        display: block;
        border-bottom: $border-color solid .5px;
        padding-top: .5rem;
      }
    }

    & > *:last-child {
      padding: 0rem 1rem 1rem;
    }

    &:hover {
      transform: scale(102%);
      box-shadow: -5px -10px 50px -20px c.$daydreamer-blue, 7px 3px 50px -20px c.$daydreamer-orange, 0px 0px 40px -20px c.$grey, ;
    }
  }

  @media (min-width: $section-max-width) {
    header,
    h1,
    #merch-params,
    .collection {
      width: $section-max-width;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 500px) {
    #right-icons,
    #left-icons {
      & > * {
        margin: auto 0.1rem;
      }
    }

    h1 {
      font-size: 1.75em;
    }
  }
}
