@use '../abstracts/colors' as c;
@use "../base";

// ? ? ? ? ? ?
// ? MERCH ?
// ? ? ? ?

$distance-between-children: 2rem;
$section-max-width: 1200px;

#merch {
  height: fit-content;

  & h1 {
    font-family: Urbanist;
  }
  
  .banner {
    background-color: black;
    color: white;
  }

  #stock-params {
    #large-screen,
    #small-screen {
      justify-content: space-between;
      padding: 1em $distance-between-children;
    }

    & > #small-screen {
      display: none;
    }

    & > #large-screen {
      display: flex;
    }

    @media (max-width: 900px) {
      & > #small-screen {
        display: flex;

        & > * {
          margin-left: 0;
        }
      }

      & > #large-screen {
        display: none;
      }
    }
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    margin: auto $distance-between-children;

    & > * {
      margin: auto 1em;
    }

    &.column {
      flex-direction: column;

      & > * {
        margin-bottom: 1em;
      }
    }
  }

  .collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    padding: 2rem 1rem;

    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .stock-card {
    min-width: 100px;
    max-width: 300px;
    height: 300px;
    margin: auto;
  }

  @media (min-width: $section-max-width) {
    header,
    h1,
    #stock-params,
    .collection {
      width: $section-max-width;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 500px) {
    #right-icons,
    #left-icons {
      & > * {
        margin: auto 0.1rem;
      }
    }

    h1 {
      font-size: 1.75em;
    }
  }
}
