@use "../abstracts/colors" as c;
@use "../views/merch" as m;
@use "../base";

#merch-item {
  h1, h2 {
    font-weight: bold;
  }

  h1 {
    font-family: m.$merch-font;
  }

  h2 {
    font-size: 1.5em;
  }

  small {
    font-size: .5rem;
  }

  main, aside {
    max-width: m.$section-max-width;
    margin: 0px auto;
  }

  form, aside {
    padding: 1rem;
  }

  main {
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }

    display: grid;
    grid-template-columns: 1fr 1fr; 


    form {
      width: 100%;

      & > * {
        padding: .75rem 0px; 

        & > *:first-child {
          padding-bottom: .5rem;
        }
      }

      .sizes {
        width: 50%;

        & > div {
          display: block;
        }
      }

      .form-button {
        display: block;
        border: black solid 2px;
        border-radius: .33rem;
        width: 50%
      }
    }
  }

  .collection {
    padding: 1rem 0px;
    display: flex;
    gap: 2rem;
  }
}
