@use "../abstracts" as a;
@use "../utilities/functions" as fn;
@use "../base/" as b;

@use "sass:color";

.shows-container {
  .menu-icons-parent {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: #008081;

    max-height: calc(500px + 7.5vw + 7.5vh);
    padding: 0.5rem;

    &,
    a,
    img {
      width: 100%;
    }

    .desktop-icon {
      width: 100px;
      height: 130px;

      img {
        object-fit: scale-down;
        height: 70px;
      }

      p {
        font-size: 0.8rem;
        text-align: center;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        color: a.$off-white;
      }
    }
  }

  .search-bar,
  .start-and-search-icons,
  .time-and-date,
  .windows-start {
    display: flex;
  }

  .search-bar {
    justify-content: space-between;
    align-content: center;
    padding-top: 0.2rem;

    .windows-start {
      align-items: center;
      gap: 0.1rem;
      padding: 0 0.15rem;
      margin: 0 0.25rem 0 0;

      img {
        height: 20px;
      }

      p {
        font-weight: bolder;
        height: fit-content;
      }
    }

    .vertical-line {
      @extend %y2k-border-inverted;
      height: 80%;
      padding: 0.25rem 0;
      margin: auto 0.25rem;
    }

    .search-icon {
      height: 85%;
      padding: 0.25rem;
      margin: auto 0;

      img {
        height: 100%;
      }
    }

    .time-and-date {
      @extend %y2k-border-inverted;
      padding: 0 0.75rem 0 0.15rem;
      align-items: center;
      gap: 0.5rem;

      .settings {
        height: 80%;

        img {
          height: 100%;
          margin: auto;
        }
      }

      p.time {
        width: max-content;
        white-space: nowrap;
      }
    }
  }
}
