@use "../abstracts" as a;
@use "../utilities/functions" as fn;
@use "../base/" as b;

#root {
  position: relative;
}

.website-content {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  .background-visuals {
    position: absolute;

    .site-backdrop {
      top: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      display: flow-root;
      opacity: 0.45;
      z-index: -10;
      transition: b.$default-transition-property;
      background-color: a.$daydreamer-smoky-black;

      &.transitioning {
        opacity: 0;
      }
    }

    .photo-backdrop {
      display: flow-root;
      top: 0;
      opacity: 0.45;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: -30;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      transition: b.$default-transition-property;

      &.transitioning {
        opacity: 0;
      }
    }
  }

  .content-container {
    padding: 0 0 6rem;
  }
}

.dialog-layer {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;

  dialog {
    inset: 0;
    margin: auto;
    border: none;

    .window-viewer-container {
      padding: 0;
      margin: 0;
    }
  }
}
