@use "../abstracts" as a;
@use "../utilities/functions" as fn;
@use "../base/" as b;

@use "sass:color";

#root {
  position: relative;
}

.website-content {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  .background-visuals,
  .site-backdrop {
    z-index: -1;
  }

  .background-visuals {
    position: absolute;

    .video-backdrop {
      position: fixed;
      inset: 0;
      height: 100%;
      width: 100%;

      pointer-events: none;

      iframe {
        position: fixed;
        top: -500px;
        height: 200%;
        width: 100%;

        border: none;
        background-color: color.adjust(a.$daydreamer-smoky-black, $alpha: -0.1);
      }

      & .desktop-ratio {
        display: block;
      }

      & .mobile-ratio {
        display: none;
      }

      @media (max-width: b.$large-width) {
        & .desktop-ratio {
          display: none;
        }

        & .mobile-ratio {
          display: block;
        }
      }
    }

    .photo-backdrop {
      display: flow-root;
      top: 0;
      height: 100%;
      width: 100%;
      position: fixed;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      transition: opacity 5s linear;

      &.fade-out {
        opacity: 0;
      }
    }
  }

  .site-backdrop {
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0.8;
    background-color: a.$daydreamer-smoky-black;
  }

  .content-container {
    padding: 0 0 6rem;
  }
}

.dialog-layer {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;

  &:has(dialog) {
    background-color: color.adjust(a.$daydreamer-smoky-black, $alpha: -0.6);
  }

  dialog {
    inset: 0;
    margin: auto;
    border: none;

    .window-viewer-container {
      padding: 0;
      margin: 0;
    }
  }
}
