@use "../abstracts/colors" as c;

@use "sass:color";

$main: color.adjust(c.$daydreamer-orange, $lightness: -10%);
$between: color.adjust(c.$daydreamer-blue, $lightness: 20%);
$contrast: color.adjust(c.$daydreamer-blue, $lightness: 10%);

.custom-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  h2 {
    padding-bottom: 4em;
  }

  .spinner-parent {
    height: 100px;
    padding: 0px 4rem;
  }

  .spinner {
    position: absolute;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: $main;
    background-image: linear-gradient($main, $contrast, $between);

    & span {
      position: absolute;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      background-color: $main;
      background-image: linear-gradient($main, $between, $contrast);
    }

    & span:nth-of-type(1) {
      filter: blur(5px);
    }

    & span:nth-of-type(2) {
      filter: blur(10px);
    }

    & span:nth-of-type(3) {
      filter: blur(25px);
    }

    & span:nth-of-type(4) {
      filter: blur(50px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background-color: #fff;
      border: solid 5px #ffffff;
      border-radius: 50%;
    }
  }
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
