@use "../base" as b;
@use "../abstracts" as a;
@use "../utilities/functions" as f;

@use "sass:color";

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.enquiry-form-container {
  position: relative;

  $hue-degree-shift: 90deg;

  @keyframes flipHue {
    0% {
      filter: hue-rotate($hue-degree-shift);
    }
    50% {
      filter: hue-rotate(-$hue-degree-shift);
    }
    100% {
      filter: hue-rotate($hue-degree-shift);
    }
  }

  @keyframes rotateBackground {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }

  .enquiry-form-filter,
  .enquiry-form-backdrop {
    position: fixed;
    margin: auto;
    inset: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.25;
  }

  .enquiry-form-filter {
    --angle: 0deg;
    animation:
      rotateBackground 10s linear infinite,
      flipHue 5s linear infinite alternate;
    display: inline-block;
    background: linear-gradient(var(--angle), var(--favourite-colour), transparent);
    z-index: -1;
  }

  .enquiry-form-backdrop {
    background: var(--favourite-colour);
    z-index: -2;
  }

  form {
    $form-gap: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-width: clamp(250px, 90%, 1200px);
    gap: calc($form-gap / 2);
    padding: $form-gap;
    border-radius: b.$border-radius-heavy;

    .input-container,
    div,
    input,
    select,
    textarea {
      width: 100%;
    }

    input,
    select,
    textarea {
      @extend %y2k-border-inverted;
      box-sizing: border-box;
    }

    input,
    select {
      height: 2.2rem;
      font-size: 1rem;
    }

    input[type="color"] {
      padding-left: 0;
    }

    textarea {
      max-height: 300px;
      min-height: 100px;
      resize: vertical;
      padding: 0.4rem;
      font-size: 1rem;
    }

    span.error {
      $error-colour: color.adjust(red, $lightness: -10%);
      color: $error-colour;
      display: block;
      margin: 0.5em 0px;
      text-shadow: 0px 0px 5px color.adjust($error-colour, $lightness: 45%);
    }

    .first-last-name,
    .favourite-colour-enquiry-type,
    .code-name-level-of-secrecy {
      display: flex;
      gap: $form-gap;
    }

    & > .input-container,
    div:not(.favourite-colour-enquiry-type) .input-container {
      display: flex;
      gap: calc($form-gap / 4);
    }

    .favourite-colour-enquiry-type .input-container {
      display: flex;
      flex-direction: column;
      gap: calc($form-gap / 4);

      &:has([type="color"]) {
        justify-content: space-between;
      }
    }

    .input-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      &:has(input:focus),
      &:has(textarea:focus),
      &:has(select:focus) {
        label {
          color: color.adjust(a.$daydreamer-sad-blue, $lightness: -20%);
        }

        input,
        textarea,
        select {
          border-color: a.$daydreamer-sad-blue !important;
          outline: a.$daydreamer-sad-blue;
          box-shadow: 0px 0px 5px a.$daydreamer-sad-blue;
        }
      }
    }
  }

  button[type="submit"] {
    font-size: 2rem;
    font-weight: bold;
    background-color: grey;
    color: a.$daydreamer-off-white;
    margin: 2rem 0 0;

    &:active,
    &:disabled {
      transform: translate(4px, 4px);
      color: color.adjust(a.$daydreamer-off-white, $lightness: -10%);
    }

    &:disabled {
      @extend %y2k-border-inverted;
      background-color: a.$daydreamer-faded-blue;
      color: white;
      pointer-events: none;
    }
  }

  @media (max-width: b.$mobile-width) {
    form {
      padding: 1.5rem;
      font-size: 0.8em;

      .first-last-name,
      .favourite-colour-enquiry-type,
      .code-name-level-of-secrecy {
        flex-direction: column;
      }
    }
  }
}
