@use "../base" as b;
@use "../abstracts" as a;
@use "../utilities/functions" as f;

$hue-degree-shift: 90deg;

.enquiry-form-container {
  .enquiry-form-filter,
  .enquiry-form-backdrop {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.25;
  }

  .enquiry-form-filter {
    filter: hue-rotate($hue-degree-shift);
    animation: flipHue 5s ease-in-out infinite alternate;
    background: linear-gradient(
      to top,
      var(--favourite-colour),
      white,
      transparent
    );

    z-index: -1;
  }

  .enquiry-form-backdrop {
    background: var(--favourite-colour);
    z-index: -2;
  }

  h1 {
    text-align: center;
    font-size: clamp(2rem, 8vw + 2rem, 6rem);
    margin: 1rem 0px;
  }

  form {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: clamp(250px, 90%, 600px);
    gap: 1em;
    margin: auto;
    padding: 3rem;
    outline: 5px solid black;
    border-radius: b.$border-radius-heavy;

    .input-container,
    div,
    input,
    select,
    textarea {
      width: 100%;
    }

    label {
      width: fit-content;
    }

    input[type="text"],
    input[type="email"],
    input[type="color"],
    input[type="color"],
    input[type="number"],
    textarea,
    select {
      border-radius: b.$border-radius-subtle;
    }

    input[type="color"] {
      height: 2.75rem;
    }

    textarea {
      max-height: 300px;
      min-height: 100px;
    }

    span.error {
      $error-colour: darken(red, 10%);
      color: $error-colour;
      text-shadow: 0px 0px 10px lighten($error-colour, 40%);
    }

    .first-last-name,
    .favourite-colour-enquiry-type,
    .code-name-level-of-secrecy {
      display: flex;
      gap: 1em;
    }

    & > .input-container,
    div:not(.favourite-colour-enquiry-type) .input-container {
      position: relative;

      label {
        color: a.$ash;
        position: absolute;
        background: white;
        height: fit-content;
        margin: auto 1em;
        inset: 0;
        padding: 0px 0.5em;
        border-radius: b.$border-radius-heavy;

        transform-origin: left;
        transition-property: translate transform;
        transition-duration: 0.1s;
        transition-timing-function: ease-out;
      }

      label[for="message"] {
        margin: 0.6em auto 0px 1em;
      }
    }

    .favourite-colour-enquiry-type .input-container {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      &:has([type="color"]) {
        justify-content: space-between;
      }
    }

    .input-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      &:has(input:focus),
      &:has(input:not(:placeholder-shown):not([name="favouriteColour"])),
      &:has(textarea:focus),
      &:has(textarea:not(:placeholder-shown)) {
        label:not([for="favouriteColour"]) {
          transform: scale(0.75);
          translate: 0% -90%;
        }
      }

      &:has(input:focus),
      &:has(textarea:focus),
      &:has(select:focus) {
        label {
          color: darken(a.$daydreamer-orange, 20%);
        }

        input,
        textarea,
        select {
          border-color: a.$daydreamer-orange !important;
          outline: a.$daydreamer-orange;
          box-shadow: 0px 0px 5px a.$daydreamer-orange;
        }
      }
    }
  }

  button[type="submit"] {
    $button-blue: a.$daydreamer-blue;
    margin-top: 2em;
    padding: .5em 0px;
    background-color: white;
    border: 2px solid $button-blue;
    color: $button-blue;
    font-size: 1.75em;
    border-radius: b.$border-radius-subtle;
    box-shadow: 0px 0px 30px 0px lighten($button-blue, 30%), 0px 0px 30px 0px lighten($button-blue, 30%) ;


    transition-property: background-color color font-weight;
    transition-duration: .25s;
    transition-timing-function: ease-out;

    &:hover, &:focus {
      background-color: $button-blue;
    font-weight: bold;
      color: white;
      box-shadow: 0px 0px 15px 5px lighten($button-blue, 20%), 0px 0px 15px 5px lighten($button-blue, 20%) ;
    }

    &:focus {
      outline: lighten($button-blue, 20%) 2px solid;
    }
  }

  @media (max-width: b.$mobile-width) {
    form {
      padding: 1.5rem;
      font-size: .8em;

      .first-last-name,
      .favourite-colour-enquiry-type,
      .code-name-level-of-secrecy {
        flex-direction: column;
      }
    }
  }
}

@keyframes flipHue {
  0% {
    filter: hue-rotate($hue-degree-shift);
  }
  50% {
    filter: hue-rotate(-$hue-degree-shift);
  }
  100% {
    filter: hue-rotate($hue-degree-shift);
  }
}
