@use "../abstracts/colors" as c;
@use "../views/merch" as m;
@use "../base" as b;

header {
  min-height: 150px;
  max-height: 250px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: b.$desktop-width;
    margin: 0px auto;
  }

  #left-icons,
  #right-icons {
    @media (max-width: 400px) {
      width: 40px;
      margin: 0px 10px;
    }

    margin: 0px m.$distance-between-children;
    width: 75px;
  }
}

#right-icons,
#left-icons {
  display: flex;
  justify-content: center;

  & > * {
    margin: auto 0.5rem;
    flex-shrink: 1;
  }
}
