@use "../base" as b;

.window-viewer-container .search-parent .search-results-window:has(.secret-directory-container) {
  display: flex;

  .secret-directory-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
    gap: 2rem;

    & > * {
      font-size: 125%;
      min-width: 200px;
      max-width: 50%;

      height: min-content;
    }

    button {
      font-size: 175%;
      padding: 1rem 2rem;
    }

    @media (max-width: b.$mobile-width) {
      flex-direction: column;

      & > * {
        max-width: 100%;
      }
    }
  }
}
