@use "../base" as b;
@use "../abstracts" as a;
@use "../utilities/functions" as f;

@use "sass:color";

$max-height: 800px;

.header-navigation {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  padding: 0 1.5rem 0;
  gap: 1.5rem;
  z-index: 1;
  align-items: center;
  justify-content: space-between;

  &:not(.no-background) {
    background-color: color.adjust(a.$daydreamer-off-white, $lightness: 0%);
    box-shadow: 0px 0px 20px -7.5px black;
    z-index: 1000;
  }

  .header-logo-container {
    max-width: 500px;
    min-width: fit-content;
    height: clamp(160px, 10vw + 5px, 150px);
    justify-items: center;
    text-shadow: f.generate-text-outline(1.5px, a.$daydreamer-sad-blue, 2px);
    position: relative;
    display: flex;

    .letters {
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
      margin: auto;
      z-index: 10;
      line-height: 0.8em;
    }

    .vector {
      position: absolute;
      inset: 0;
      margin: auto;
      z-index: 1;
      filter: a.$daydreamer-sad-blue-svg-fill;

      &.spin-tail {
        height: 85px;
      }

      &.star-1 {
        height: 45px;
        transform: translate(-75px, 30px);
      }

      &.star-2 {
        height: 75px;
        transform: translate(80px, -35px) scaleX(140%);
      }
    }
  }

  span {
    transition:
      transform 2.5s a.$custom-ease,
      scale 5s a.$custom-ease,
      color 5s a.$custom-ease;
    display: inline-block;
    font-size: 1em;
    font-family: PlanetKosmos;
    scale: 1;
    color: white;

    &:hover {
      scale: 1.5;
      cursor: default;

      &:nth-child(odd) {
        color: color.adjust(a.$daydreamer-sad-blue, $lightness: 0%);
      }

      &:nth-child(even) {
        color: color.adjust(a.$daydreamer-hot-yellow, $lightness: 10%);
      }
    }

    @media (max-height: $max-height) {
      font-size: 1em;
    }
  }

  @media (max-width: b.$medium-width) {
    flex-direction: column;
  }

  @media (min-width: b.$medium-width) {
    h1 {
      font-size: clamp(2.5rem, 2.5vw + 2px, 4rem);
      padding: 1em 1.5em;
    }
  }

  .page-routes {
    width: 100%;
    max-width: 2000px;

    ul {
      display: flex;
      flex-wrap: wrap;

      height: 100%;
      width: 100%;
      justify-content: space-around;
      align-items: center;

      & > li {
        img {
          max-height: 30px;
        }

        @media (max-height: b.$medium-width) {
          margin: 0.5rem auto;
          font-size: 1.2em;
        }
      }

      @media (max-height: b.$medium-width) {
        padding: 0.5rem 0px;
      }

      @media (max-width: b.$medium-width) {
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
