@use "../base" as b;
@use "../abstracts" as a;

.header-nav {
  width: 100%;
  // position: sticky;
  position: relative;
  margin-bottom: 2rem;
  top: 0;

  .desktop-nav-links-parent {
    position: relative;
    width: clamp(b.$tiny-width, 80vw, b.$desktop-width);
    margin: 0px auto;

    menu {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      a.img-parent img {
        $spread: 50px;
        $origin: 30px;
        min-width: 140px;
        border-radius: 100%;
        box-shadow: white 0px 0px $spread $origin, white 0px 0px $spread $origin,
          white 0px 0px $spread $origin;
      }

      li {
        width: calc(0.5em + 5vw);
        height: fit-content;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media (min-width: b.$desktop-width) {
    min-width: calc(b.$desktop-width - 300px);
    padding-top: 2rem;
    font-size: 1.5em;
  }

  @media (max-width: b.$mobile-width) {
    .desktop-nav-links-parent menu li {
      display: none;
    }
  }
}
