@use "../base/index" as b;

/* ? Control parental elem styling ? */
*:is(dialog, .window-viewer-container):has(.oh-no-bamboozle-time) {
  max-width: 600px;
  padding: 0 2rem;
}

.oh-no-bamboozle-time {
  padding: 3rem;
  display: flex;
  flex-direction: column;

  .container-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: b.$mobile-width) {
      flex-direction: column;
    }

    img {
      $img-size: 200px;
      width: $img-size;
      height: $img-size;
      margin-right: 1rem;

      @media (max-width: b.$mobile-width) {
        $sml-img-size: 150px;
        width: $sml-img-size;
        height: $sml-img-size;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;

      h3,
      p {
        text-align: center;
        font-size: 125%;
      }
    }
  }

  button {
    margin: auto;
    padding: 0.5em 2em;
    font-size: larger;
  }
}
