@use '../abstracts/colors' as c;
@use "../views/merch" as m;
@use "../base";

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 40px;
  width: 80px;

  border: 2px solid black;
  border-radius: .33rem;
}