# DATO

VITE_DATO_GRAPHQL_ENDPOINT=SECRET
VITE_DATO_GRAPHQL_READONLY_KEY=SECRET

# MIDDLEWARE URLS

VITE_TEST_MIDDLEWARE_URL=SECRET
VITE_MIDDLEWARE_URL=SECRET

# FIREBASE CONFIG

VITE_FIREBASE_API_KEY=SECRET
VITE_FIREBASE_AUTH_DOMAIN=SECRET
VITE_FIREBASE_PROJECT_ID=SECRET
VITE_FIREBASE_STORAGE_BUCKET=SECRET
VITE_FIREBASE_MESSAGING_SENDER_ID=SECRET
VITE_FIREBASE_APP_ID=SECRET

# AUTH & DEBUGGING

VITE_RECAPTCHA_KEY=SECRET
VITE_APP_CHECK_DEBUG_KEY=SECRET

# NODE

VITE_NODE_ENV=SECRET