# DATO

VITE_DATO_GRAPHQL_ENDPOINT=add-secret-here
VITE_DATO_GRAPHQL_READONLY_KEY=add-secret-here

# SMTP EMAIL

VITE_SMTP_EMAIL_SERVER=add-secret-here
VITE_SMTP_EMAIL_PORT=add-secret-here
VITE_SMTP_EMAIL_USERNAME=add-secret-here
VITE_SMTP_EMAIL_PASSWORD=add-secret-here

# FIREBASE

VITE_TEST_MIDDLEWARE_URL=add-secret-here
VITE_MIDDLEWARE_URL=add-secret-here
VITE_RECAPTCHA_KEY=add-secret-here
VITE_FIREBASE_API_KEY=add-secret-here
VITE_FIREBASE_AUTH_DOMAIN=add-secret-here
VITE_FIREBASE_PROJECT_ID=add-secret-here
VITE_FIREBASE_STORAGE_BUCKET=add-secret-here
VITE_FIREBASE_MESSAGING_SENDER_ID=add-secret-here
VITE_FIREBASE_APP_ID=add-secret-here