// ? ? ? ? ? ? ? ? ?
// ? GLOBAL COLORS ?
// ? ? ? ? ? ? ? ? ?

@use "sass:color";

$off-white: color.adjust(white, $lightness: -10%);
$grey: color.adjust(white, $lightness: -30%);
$ash: color.adjust(white, $lightness: -65%);
$daydreamer-orange: #f1b83f;
$daydreamer-blue: #4fdbf0;
$daydreamer-purple: #5a2494;
$daydreamer-sad-blue: #6aadff;
$daydreamer-faded-blue: #bcdaf0;
$daydreamer-hot-yellow: #ffde00;
$daydreamer-off-white: #f4f7f8;
$daydreamer-smoky-black: #1b1b19;

$daydreamer-gradient-main: radial-gradient(
  circle,
  $daydreamer-faded-blue 0%,
  $daydreamer-sad-blue 50%,
  $daydreamer-smoky-black 85%
);
$daydreamer-gradient-faded: radial-gradient(
  circle,
  rgba($daydreamer-orange, 1) 0%,
  rgba($daydreamer-blue, 0.6) 75%,
  #ffffff 85%
);
$daydreamer-gradient-alt: radial-gradient(circle, rgba($daydreamer-hot-yellow, 0.6) 0%, white 75%);
$stripe-primary: #635bff;
$zak-red: rgb(247, 50, 11);
$zak-red-gradient: radial-gradient(
  hsl(0deg 100% 81%) 0%,
  hsl(0deg 100% 82%) 2%,
  hsl(0deg 100% 83%) 4%,
  hsl(0deg 100% 84%) 5%,
  hsl(0deg 100% 85%) 6%,
  hsl(0deg 100% 85%) 7%,
  hsl(0deg 100% 86%) 8%,
  hsl(0deg 100% 87%) 9%,
  hsl(0deg 100% 88%) 10%,
  hsl(0deg 100% 89%) 11%,
  hsl(0deg 100% 90%) 12%,
  hsl(0deg 100% 91%) 13%,
  hsl(0deg 100% 92%) 14%,
  hsl(0deg 100% 93%) 16%,
  hsl(0deg 100% 94%) 18%,
  hsl(0deg 100% 95%) 20%,
  hsl(0deg 100% 95%) 23%,
  hsl(0deg 100% 96%) 27%,
  hsl(0deg 100% 97%) 32%,
  hsl(0deg 100% 98%) 39%,
  hsl(0deg 100% 100%) 50%,
  hsl(0deg 0% 100%) 78%
);
$nick-green: #9eff20;
$nick-green-gradient: radial-gradient(
  hsl(101deg 100% 67%) 0%,
  hsl(101deg 100% 68%) 2%,
  hsl(101deg 100% 70%) 4%,
  hsl(101deg 100% 71%) 5%,
  hsl(101deg 100% 73%) 6%,
  hsl(101deg 100% 75%) 7%,
  hsl(101deg 100% 76%) 8%,
  hsl(101deg 100% 78%) 9%,
  hsl(101deg 100% 79%) 10%,
  hsl(101deg 100% 81%) 11%,
  hsl(101deg 100% 83%) 12%,
  hsl(101deg 100% 84%) 13%,
  hsl(101deg 100% 86%) 14%,
  hsl(101deg 100% 87%) 16%,
  hsl(101deg 100% 89%) 18%,
  hsl(100deg 100% 90%) 20%,
  hsl(102deg 100% 92%) 23%,
  hsl(101deg 100% 94%) 27%,
  hsl(103deg 100% 95%) 32%,
  hsl(101deg 100% 98%) 39%,
  hsl(105deg 100% 100%) 50%,
  hsl(0deg 0% 100%) 78%
);
$dan-purple: #7a51d0;
$dan-purple-gradient: radial-gradient(
  hsl(250deg 100% 81%) 0%,
  hsl(250deg 100% 82%) 2%,
  hsl(250deg 100% 83%) 4%,
  hsl(250deg 100% 84%) 5%,
  hsl(250deg 100% 85%) 6%,
  hsl(250deg 100% 85%) 7%,
  hsl(250deg 100% 86%) 8%,
  hsl(250deg 100% 87%) 9%,
  hsl(250deg 100% 88%) 10%,
  hsl(250deg 100% 89%) 11%,
  hsl(251deg 100% 90%) 12%,
  hsl(249deg 100% 91%) 13%,
  hsl(250deg 100% 92%) 14%,
  hsl(250deg 100% 93%) 16%,
  hsl(249deg 100% 94%) 18%,
  hsl(251deg 100% 95%) 20%,
  hsl(250deg 100% 95%) 23%,
  hsl(250deg 100% 96%) 27%,
  hsl(249deg 100% 97%) 32%,
  hsl(247deg 100% 98%) 39%,
  hsl(252deg 100% 100%) 50%,
  hsl(0deg 0% 100%) 78%
);
$jordan-blue: #5ec1ff;
$jordan-blue-gradient: radial-gradient(
  hsl(200deg 100% 81%) 0%,
  hsl(200deg 100% 82%) 2%,
  hsl(200deg 100% 83%) 4%,
  hsl(200deg 100% 84%) 5%,
  hsl(200deg 100% 85%) 6%,
  hsl(199deg 100% 85%) 7%,
  hsl(200deg 100% 86%) 8%,
  hsl(199deg 100% 87%) 9%,
  hsl(200deg 100% 88%) 10%,
  hsl(200deg 100% 89%) 11%,
  hsl(200deg 100% 90%) 12%,
  hsl(200deg 100% 91%) 13%,
  hsl(200deg 100% 92%) 14%,
  hsl(199deg 100% 93%) 16%,
  hsl(201deg 100% 94%) 18%,
  hsl(199deg 100% 95%) 20%,
  hsl(201deg 100% 95%) 23%,
  hsl(200deg 100% 96%) 27%,
  hsl(201deg 100% 97%) 32%,
  hsl(200deg 100% 98%) 39%,
  hsl(204deg 100% 100%) 50%,
  hsl(0deg 0% 100%) 78%
);
