@font-face {
  font-family: Pangolin;
  src: url(../../../fonts/Pangolin-Regular.ttf);
}

@font-face {
  font-family: PlanetKosmos;
  src: url(../../../fonts/PLANK___.ttf);
}

@font-face {
  font-family: Melodica;
  src: url(../../../fonts/medodica.regular.otf);
}

@font-face {
  font-family: Helvetica;
  src: url(../../../fonts/Helvetica.ttf);
}
