@font-face {
  font-family: Pangolin;
  src: url(../../../public/fonts/Pangolin-Regular.ttf);
}

@font-face {
  font-family: PlanetKosmos;
  src: url(../../../public/fonts/PLANK___.TTF);
}

@font-face {
  font-family: WindowsRegular;
  src: url(../../../public/fonts/WindowsRegular.ttf);
}
