@font-face {
  font-family: GoodGirl;
  src: url(../assets/fonts/GOODGIRL.TTF);
}

@font-face {
  font-family: Urbanist;
  src: url(../assets/fonts/Urbanist-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: Urbanist;
  src: url(../assets/fonts/Urbanist-Italic-VariableFont_wght.ttf);
  font-style: italic;
}