// ? ? ? ? ? ? ?
// ? FUNCTIONS ?
// ? ? ? ? ? ?

@use "sass:color";
@use "sass:list";

@function generate-text-outline($outline-width, $outline-color, $outline-blur: 0px) {
  // Only create horizontal (left/right) outline offsets to avoid
  // shadows on the top and bottom of the text.
  $text-shadow: ();

  $text-shadow: list.append($text-shadow, $outline-width 0px $outline-blur $outline-color, comma);
  $text-shadow: list.append($text-shadow, (0px - $outline-width) 0px $outline-blur $outline-color, comma);

  @return $text-shadow;
}

@function duplicate($string, $amount: 2) {
  $duplication-result: ();

  @for $i from 1 through $amount {
    $duplication-result: list.append($duplication-result, $string, comma);
  }

  @return $duplication-result;
}

@function generate-text-shadow($color) {
  @return 0px 0px 5px $color, 0px -6px 15px $color, -4px 7px 30px color.adjust($color, $hue: 20),
    7px -4px 30px color.adjust($color, $hue: -10);
}
