@font-face {
  font-family: GoodGirl;
  src: url(../assets/fonts/GOODGIRL.TTF);
}

@font-face {
  font-family: Urbanist;
  src: url(../assets/fonts/Urbanist-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: Urbanist;
  src: url(../assets/fonts/Urbanist-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

// ? ? ? ? ? ? ?
// ? FUNCTIONS ?
// ? ? ? ? ? ?

@function generate-text-outline($outline-width, $outline-color) {
  $offsets: $outline-width $outline-width, $outline-width (0px - $outline-width),
    (0px - $outline-width) $outline-width,
    (0px - $outline-width) (0px - $outline-width);
  $text-shadow: ();

  @for $i from 1 through 4 {
    $text-shadow: append($text-shadow, nth($offsets, $i) $outline-color, comma);
  }

  @return $text-shadow;
}

// ? ? ? ? ? ?
// ? GLOBALS ?
// ? ? ? ? ? ?

$daydreamer-orange: #f1b83f;
$daydreamer-blue: #4fdbf0;
$daydreamer-gradient-main: radial-gradient(
  circle,
  $daydreamer-orange 0%,
  $daydreamer-blue 50%,
  #ffffff 85%
);
$daydreamer-gradient-faded: radial-gradient(
  circle,
  rgba($daydreamer-orange, 1) 0%,
  rgba($daydreamer-blue, 0.6) 75%,
  #ffffff 85%
);
$daydreamer-gradient-alt: radial-gradient(
  circle,
  rgba($daydreamer-blue, 0.6) 0%,
  white 75%
);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist;
  font-style: normal;
  letter-spacing: 0.05em;
}

h1 {
  font-family: Goodgirl;
  font-size: clamp(2.5rem, 7vw + 5px, 6rem);
}

ul > li {
  list-style: none; 
  margin: .5em 1em;
}

a {
  color: black;
  text-decoration: none;
}

.inline-reroute-link {
  color: $daydreamer-orange;
  text-shadow: 0px 0px 10px lighten($daydreamer-orange, 10%);
  font-weight: bold;
  text-decoration: solid .75px $daydreamer-orange underline;
  text-underline-offset: 2px;

}

.link-offsite {
  color: black;
  display: inline-block;
  width: fit-content;
  font-weight: bold;
  text-decoration: underline solid black 0.5px;
  text-underline-offset: 5px;
}

.outline-black {
  $outline-color: black;
  $outline-width: 1.5px;
  text-shadow: generate-text-outline($outline-width, $outline-color);
}

#site-backdrop {
  display: flow-root;
  top: 0;
  background: $daydreamer-gradient-main;
  opacity: 20%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.img-parent {
  & > img {
    max-height: 200px;
  };
}

// ? ? ? ? ? ? ? ?
// ? H1 CLASSES ?
// ? ? ? ? ? ? ?

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.white {
  color: white;
}

.heading {
  margin: 2rem auto;
  padding: 0px 1em;
  text-align: center;

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}

// ? ? ? ? ?
// ? HOME ?
// ? ? ? ?

#home-nav {
  display: flow-root;
  margin: auto;
  width: 80%;
}

#page-routes {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    & > li {
      font-size: clamp(1rem, 5vw + 5px, 2rem);
    }
  }
}

// ? ? ? ? ? ?
// ? FOOTER ?
// ? ? ? ? ?

#footer {
  @media (min-width: 850px) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0px auto 50px;
  width: 90%;

  & > * {
    margin: 1rem 0;
  }

  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.rounded-button-link {
  overflow: hidden;
  margin: 0.5rem;
  padding: 0.75rem;
  background: white;
  border: black 1px solid;
  font-size: calc(1rem + 0.75vw);
  border-radius: 100%;
  display: flex;
  place-self: center;
  position: relative;

  opacity: 1;
  transition: background color border-color box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 350ms;

  & > .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;

    background: $daydreamer-gradient-alt;
    z-index: -1;

    transition: background color border-color box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 350ms;
  }

  &:hover {
    // ? This is a very stinky hack to get the opacity to change on hover
    background: rgba(255, 255, 255, 0.1);
    color: darken($daydreamer-orange, 10%);
    border-color: lighten($daydreamer-orange, 20%);
    box-shadow: 3px -2px 20px 0px $daydreamer-orange;
  }
}

// ? ? ? ? ? ?
// ? MERCH ?
// ? ? ? ?

#merch {
  $distance-between-children: 2rem;

  & h1 {
    font-family: Urbanist;
  };

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > *:not(.img-parent) {margin: 0px $distance-between-children; width: 75px;};
  }

  #search-and-cart {
    display: flex;
    & > * {margin: auto .5rem;}
  }

  .banner {
    background-color: black;
    & * {color: white};
  }

  #stock-params {
    display: flex;
    justify-content: space-between;
    padding: 1em $distance-between-children;

  }

  .options {
    display: flex;
    justify-content: space-evenly;
    margin: auto $distance-between-children;

    & > * {
      margin: auto 1em;
    }
  }

  .collection {
    
  }
}




// ? ? ? ? ? ? ? ? ? ?
// ? PAGE NOT FOUND ?
// ? ? ? ? ? ? ? ? ?

#page-not-found {
  text-align: center;

  & {
    h1 {
      padding: 1em 1em 0em;
    }

    p {
      padding: 0.5em 3em;

      &:last-child {
        padding-bottom: 4em;
      }
    }
  }

  img {
    width: clamp(250px, 75vw, 600px);
    margin: 50px auto;
    border: 2px solid black;
    box-shadow: 25px 20px 55px 10px lighten($daydreamer-orange, 20%),
      7px -15px 50px 10px lighten($daydreamer-blue, 20%),
      0px 0px 100px -20px rgba(0, 0, 0, 0.412);
  }

  h1 {
    font-size: calc(3em + 2vw);
  }

  .email {
    word-break: break-all;
  }
}
